{% extends 'base.html' %}
{%block head%}
	{%block style%}
		{{block.super}}
		<script src="{{ STATIC_URL }}js/jquery-1.10.1.js"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.js"></script>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.10.3.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/blog.css" />
		
	{%endblock%}

	{%block script%}
	<script type="text/javascript">
		 String.format = function() {
			var s = arguments[0];
      		for (var i = 0; i < arguments.length - 1; i++) {       
          		var reg = new RegExp("\\{" + i + "\\}", "gm");             
          		s = s.replace(reg, arguments[i + 1]);
      		}
      		return s;
  		}
		var events = {};
		events[new Date('06/20/2013')] = ['Valentines Day', 'mybold'];
		events[new Date('07/19/2013')] = ['Payday', 'mybold'];
		$(function() {
					$("#divcalendario" ).datepicker({
						beforeShowDay: function(date){
							var event = events[date];
            				if (event) {

                				return [ true, 'mybold', event.text ];
            				} else {
                				return [ true, '', '' ];
            				}
						},
						onSelect: function(data){
							d = data.split('/');
							url = String.format('/blog/arquivo/{0}/{1}/{2}/', d[2],d[1],d[0]);
							console.log(url);
							location.href= url;
						},
						minDate: new Date(2007, 1 - 1, 1),
						macDate: "+1m +1w",
						dayNamesShort: [ "Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab" ],
						dateFormat: "dd/mm/yy",
					});
					
				});
		$(document).ready(function() {
		$('button#home').click(function(){
			location.href="{%url 'home'%}";
		});
		$('button.bmenu').click(function(){
			{%url 'categoria' as the_url%}
			var categoriaurl ='{{the_url}}'+$(this).attr('id');
			
			location.href=categoriaurl;
		});
	});
	</script>
	{%endblock%}

	<title>{%block titulo%}{{block.super}} Blog{%endblock%}</title>

{%endblock%}



{%block divhead%}
	<div class='titulo' id='titulo'>
		<a href="/blog">AlMoura Blog</a>
	</div>
	<div class='contatos' id='contatos'>
		<div class='contatos-links' id='contatos-links'>
			<div class='contato-set'>
				<a href="https://www.facebook.com/elias.alvesmoura"><img src="{{STATIC_URL}}imagens/logos/facebook_icon_25x25.png"><span>/elias.alvesmoura</span></a>
			</div>
			<div class='contato-set'>
				<a href="https://twitter.com/elias_almoura"><img src="{{STATIC_URL}}imagens/logos/twitter-bird-light-bgs_25x25.png"><span>@elias_almoura</span></a>
			</div>
			<div class='contato-set'>
				<a href="https://github.com/eliasmoura"><img src="{{STATIC_URL}}imagens/logos/github_icon_25x25.png"><span>/eliasmoura</span></a>
			</div>
			
			
		</div>
	</div>
{%endblock%}
{%block  menusuperior%}
	<ul class='menu'>
		<li  class='menu'>
			<a  id='home' class='home'href="{% url 'home'%}">Home</a>
		</li>
		{%for categoria in categorias%}
			<li  class='menu'>
				<a  id='{{categoria.slug}}' class='bmenu' href="{{categoria.get_absolute_url}}">{{categoria.nome}}</a>
				<ul class='smenu' id='s{{categoria.slug}}'>
					{%for subcategoria in subcategorias%}
						{%if subcategoria.categoria.nome == categoria.nome%}
							<li><a  id='{{subcategoria.slug}}' class='bmenu' href="{{subcategoria.get_absolute_url}}">{{subcategoria.nome}}</a></li>

						{%endif%}
						{%endfor%}
				</ul>
			</li>
		{%endfor%}
	</ul>
{%endblock%}
{%block conteudo%}
	{%for post in posts %}
		<div class='post'>
			<h2><a class='posttitulo' href="{{post.get_absolute_url}}">
				{{post.titulo}}
			</a></h2>
			<div>
				{{post.conteudo}}
			</div>
			<div class='tag'>
				Tags:
				<ul class='tag'>
					{%for categoria in post.categorias%}
						<li class='tag'><a class='tag'href="{{categoria.categoria.get_absolute_url}}">{{categoria.categoria.nome}}</a></li>
					{%endfor%}
					{%for categoria in post.subcategorias%}
						<li class='tag'><a class='tag' href="{{categoria.subcategoria.get_absolute_url}}">{{categoria.subcategoria.nome}}</a></li>
					{%endfor%}
				</ul>
				
			</div>

		</div>
	{%endfor%}
	{%if post%}
		<div class='post'>
			<h2>{{post.titulo}}</h2>
			{{post.conteudo}}
			<div class='tag'>
				Tags:
				<ul class='tag'>
					{%for categoria in post.categorias%}
						<li class='tag'><a class='tag' href="{{categoria.categoria.get_absolute_url}}">{{categoria.categoria.nome}}</a></li>
					{%endfor%}
					{%for categoria in post.subcategorias%}
						<li class='tag'><a class='tag' href="{{categoria.subcategoria.get_absolute_url}}">{{categoria.subcategoria.nome}}</a></li>
					{%endfor%}
				</ul>
				
			</div>
		</div>
	{%endif%}
{%endblock%}

{%block menulateral%}
	<div class='sobre' id='sobre'>
		Sobre o autor:
		{{sobre.conteudo|truncatewords:30}}
	</div>

	<div class='calendario' id='calendario'>
		Arquivo:
		<div class='calendario' id='divcalendario' name='calendario' ><div>
	</div>
{%endblock%}
