/*cabeçálho*/
div div#divhead{
	width: 1024px;
}
div#divhead div.titulo{
	width: 816px;
	float: left;
}
div#divhead div.titulo a{
	font: 99px arial, tahoma, sans-serif;
	text-align: center;
	color: #000000;
	font-style: bold;
	text-decoration: none;
}
div div.contatos{
	width: 208px;
	float: left;
	margin-top: 20px;
}
div div div.contato-set{

}
div div div.contato-set a{
	color: #6c686f;
	display: table;
	margin-bottom: 5px;
}
div div div.contato-set a span{
	color: #6c686f;
	vertical-align: middle;
	display: table-cell;
}

/*conteudo*/
div#conteudo{
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
div.post{
	padding: 10px;
	margin-left: 5px;
}
a.posttitulo{
	text-decoration: none;
	color: #000;
}
div.tag ul.tag{
	margin-left: 0px;
	padding-left: 0px;
}
div.tag ul.tag li{
	display: inline;
}

div ul li a.tag{
	color: blue;
	text-decoration: none;
	font-size: 80%;
}

/*men categorias*/
div.menusuperior{
	width: 800px;
	margin: 10px;
}
div.menusuperior ul {
	display: inline;
	list-style: none;
	margin-left: 245px;
	margin-right: auto;
	padding: 0px;
	width: 400px;
	min-height: 30;
}
div.menusuperior ul.menu li.menu{
	border-right:1px solid #c0c0c0;
	display: inline;
	margin-bottom: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 100px;
	height: 100px;
	
}
div.menusuperior ul.menu li.menu{
}
div.menusuperior ul.menu li.menu a:hover{
	background-color: #D6D6D6;
	color:  #6D6D6D;
}
div.menusuperior ul.menu li.menu button:hover{
	background-color: #D6D6D6;
	color:  #6D6D6D;
}
div.menusuperior ul.menu li ul.smenu{
	display: none;
	margin: 0px;
	margin-top: 1px;
	padding: 0px;
	top: 20px;
	left: 0px;
	position: absolute;

}
div.menusuperior ul.menu li ul.smenu li{
	border:1px solid #c0c0c0; 
	width: 109px;
	left: 0px;
	display: block;
	text-align: left;
	margin-left: 0px;
}
div.menusuperior ul.menu li:hover ul.smenu{
	display: block;
}
ul{
	width: 318px;
	height: 30px;
}
li.menu{
	width: 109px;
	height: 30px;
}
a.home, a.bmenu{
	color:#333;
	margin: 0px;
	background-color: #fff;
	width: 109px;
	margin-bottom: 1px;
	height: 30px;
	padding: 1px;
	border: 1px solid #000;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

a.bmenu:hover,a.home:hover {
	background-color: #D6D6D6;
	color:  #6D6D6D;
}

/*menu lateral*/
div#menulateral{
	margin-top: 30px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
div#calendario{
	margin-top: 10px;
}

/*datepiker*/
.mybold>a.ui-state-default {
    font-weight:bold;
    background-image: none ;
    font-size: 12px;
}
.ui-state-active {
	border: 1px solid #fbd850;
	font-weight: normal;/*bold*/
	color: #eb8f00;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus{
	border: 1px solid #fbcb09;
	font-weight: normal;/*bold*/
	color: #c77405;
}
.ui-state-default {
	border: 1px solid #cccccc;
	font-weight: normal;/*bold*/
	color: #1c94c4;
}
div.ui-datepicker{
 font-size:12px;
}

div.post div ul {
	display: inline;
	list-style: none;
}