{% extends 'base.html' %}
{%block head%}
{%block style%}
	{{block.super}}
	<script src="{{ STATIC_URL }}js/three.min.js"></script>
	<script src="{{ STATIC_URL }}js/aplicacao.js"></script>
	<script src="{{ STATIC_URL }}js/OBJLoader.js"></script>
	<script src="{{ STATIC_URL }}js/aplicacao.js"></script>
	<script src="{{ STATIC_URL }}js/jquery-1.8.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/cliente.css" />
{%endblock%}
{%block script%}
	<script>
	
	</script>
{%endblock%}

{%block titulo%}{{block.super}}{%endblock%}

{%endblock%}
{%block conteudo%}
irraaaaaa
{%endblock%}